site_name: Cosmos Cookbook
site_author: NVIDIA Cosmos
site_url: https://nvidia-cosmos.github.io/cosmos-cookbook/
repo_url: https://github.com/nvidia-cosmos/cosmos-cookbook
repo_name: nvidia-cosmos/cosmos-cookbook
docs_dir: build/docs
nav:
  - Home: index.md
  - Getting Started: get_started.md
  - Gallery: gallery/
  - Recipes: recipes/
  - Concepts: core_concepts/
  - FAQ: faq.md
plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - exclude-unused-files:
      enabled_on_serve: true
markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.details
theme:
  name: "material"
  custom_dir: docs/assets/overrides
  features:
    - content.code.annotate
    - navigation.indexes
    - navigation.sections
    - navigation.footer
    - navigation.path
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
  font:
    code: Roboto Mono
  favicon: assets/images/favicon.png
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: light
      primary: custom
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: dark
      primary: custom
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    logo: nvidia/nvidia-logo
    repo: fontawesome/brands/github
extra_css:
  - assets/css/color-schemes.css
  - assets/css/fonts.css
  - assets/css/custom-material.css
extra:
  github_url: https://github.com/nvidia-cosmos/cosmos-cookbook
copyright: |
  &copy; Copyright 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
use_directory_urls: false
validation:
  omitted_files: ignore
  unrecognized_links: ignore
