redis = "12800"

[custom.dataset]
dataset_root = "dataset/train_07"
meta_file = "meta.json"

[custom.vision]
fps = 1
max_pixels = 40960

[train]
output_dir = "outputs/sft-07"
resume = true
compile = false
train_batch_per_replica = 16
epoch = 2
optm_lr = 2e-7
optm_weight_decay = 0.01
optm_warmup_steps = 0.03
optm_decay_type = "cosine"
optm_grad_norm_clip = 1.0
seed = 42

[policy]
model_name_or_path = "nvidia/Cosmos-Reason2-8B"
model_max_length = 4096
model_gradient_checkpointing = true  # Ensure gradient checkpointing is enabled

[logging]
logger = ['console', 'wandb']
project_name = "cosmos_reason2"
experiment_name = "post_training_capabilities/sft_v7_cr2_8b"

[train.train_policy]
type = "sft"
mini_batch = 4
dataloader_num_workers = 4         # Faster data loading
dataloader_prefetch_factor = 2     # Prefetch batches

[train.ckpt]
enable_checkpoint = true
save_freq = 50
max_keep = 30
save_mode = "async"

[policy.parallelism]
tp_size = 1
cp_size = 1
dp_shard_size = 8
pp_size = 1
